# Folders
ownrecipes-api/
ownrecipes-web/
ownrecipes-nginx/
ownrecipes-mobile/
ownrecipes-demo/
site-media/
static-files/
node_modules/
secrets/*
.idea/

# Files
*.DS_Store
*.pyc
*.css.map
*.js.map
*.log
*.pyc
.env*.local
docker-prod.version.yml
docker-prod.override.yml
docker-compose.override.yml
